@model IEnumerable<SwadeshProperties_DocumentManagement.Models.DocumentCategoryInfo>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12" id="insert" style="display:none">
        <div class="d-flex justify-content-between text-white bg-secondary p-2">
            <h6>Document Category</h6>
            <div>

                <button type="button" class="btn btn-light btn-sm" id="i-minus"><i class="bi bi-dash"></i></button>
            </div>
        </div>
        <div>
            @Html.Action("CategoryInsert", "Documents")
        </div>
    </div>
    <div class="col-12" id="edit" style="display:none">
        <div class="d-flex justify-content-between text-white bg-secondary p-2">
            <h6>Document Category</h6>
            <div>

                <button type="button" class="btn btn-light btn-sm" id="u-minus"><i class="bi bi-dash"></i></button>
            </div>
        </div>
        <div>
            @Html.Action("CategoryEdit", "Documents")
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between bg-primary text-white p-2">
            <h6>Document Category List</h6>
            <div>
                <button type="button" class="btn btn-light btn-sm" id="plus"><i class="bi bi-plus"></i></button>
                <button type="button" class="btn btn-light btn-sm" id="minus" style="display:none"><i class="bi bi-dash"></i></button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Category Name</th>
                    <th>Category Name Bangla</th>
                    <th>Description</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody id="categories">
                @foreach (var c in Model)
                {
                    <tr id="cat_@c.CategoryId">
                        <td>@c.CategoryName</td>
                        <td>@c.CategoryNameBangla</td>
                        <td>@c.Description</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm edit" data-pk="@c.CategoryId"><i class="bi bi-pencil"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section styles
{
    <link href="~/Content/Icons/font/bootstrap-icons.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        var categories = [];
        $(() => {
            //data

            $.ajax({
                type: "GET",
                url: "/Documents/CategoryList",
                dataType: "json",
                success: r => {
                    categories = r;
                }
            })
            $("#plus").click(() => {
                $("#insert").show();
                $("#plus").hide();
                $("#minus").show();
            });
            $("#minus").click(() => {
                $("#insert").hide();
                $("#plus").show();
                $("#minus").hide();
            });
            $("#i-minus").click(() => {
                $("#insert").hide();
                $("#plus").show();
                $("#minus").hide();
            });
            $("#insert-submit").click(() => {
                var valid = $("#fcat-insert").valid();
                if (valid) {
                    let data = {
                        CategoryName: $("#fcat-insert #CategoryName").val(),
                        CategoryNameBangla: $("#fcat-insert #CategoryNameBangla").val(),
                        Description: $("#fcat-insert #Description").val()
                    };
                    console.log(data);
                    $.ajax({
                        type: "POST",
                        url: "/Documents/CategoryInsert",
                        dataType: "json",

                        data: { model: data },
                        success: r => {
                            console.log(r);
                            categories.push(r.data);
                            console.log(categories);
                            if (r.success == true) {
                                $("#categories").append(`<tr id="cat_${r.data.CategoryId}">
                                    <td>${r.data.CategoryName}</td>
                                    <td>${r.data.CategoryNameBangla}</td>
                                    <td>${r.data.Description}</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm edit" data-pk="${r.data.CategoryId}"><i class="bi bi-pencil"></i></button>
                                    </td>
                            </tr>`)
                                $("#fcat-insert").trigger('reset');
                            }
                        }
                    })

                }
            });
            $("#update-submit").click(() => {
                var valid = $("#fcat-edit").valid();
                if (valid) {
                    let data = {
                        CategoryName: $("#fcat-edit #CategoryName").val(),
                        CategoryNameBangla: $("#fcat-edit #CategoryNameBangla").val(),
                        Description: $("#fcat-edit #Description").val(),
                        CategoryId: $("#fcat-edit #CategoryId").val()
                    };
                    console.log(data);
                    $.ajax({
                        type: "POST",
                        url: "/Documents/CategoryEdit",
                        dataType: "json",

                        data: { model: data },
                        success: r => {
                            console.log(r);
                            
                            
                            if (r.success == true) {
                                $(`#cat_${r.data.CategoryId}`).html(`
                                <td id="cat_${r.data.CategoryId}">${r.data.CategoryName}</td>
                                    <td>${r.data.CategoryNameBangla}</td>
                                    <td>${r.data.Description}</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm edit" data-pk="${r.CategoryId}"><i class="bi bi-pencil"></i></button>
                                    </td>
                                `)
                            }
                        }
                    })

                }
            });
            $(document).on("click", "button.edit", function () {
                console.log($(this));
                let id = $(this).data("pk");
                let i = categories.findIndex(x => x.CategoryId == id)
                if (i >= 0) {
                    console.log(categories[i]);
                    $("#fcat-edit #CategoryName").val(categories[i].CategoryName);
                    $("#fcat-edit #CategoryNameBangla").val(categories[i].CategoryNameBangla);
                    $("#fcat-edit #Description").val(categories[i].Description);
                    $("#fcat-edit #CategoryId").val(categories[i].CategoryId);
                    $("#edit").show();

                }
            });
            $("#u-minus").click(() => {
                $("#edit").hide();
                $("#fcat-edit").trigger('reset');
            });
        })
    </script>
}